* {
margin: 0;
padding: 0;
}
.imgbox {
display: grid;
height: 100%;
}
.center-fit {
max-width: 100%;
max-height: 100vh;
margin: auto;
}

.jumbotron {
text-align: center;
font-size: 24px;
font-weight: bolder; 
opacity: 0.9;
color: black;
margin-top: 1%;
background-color: lightblue;
}

/* .container {
    background-color: antiquewhite;
} */

.instructionsRow{
    margin-top: 1%;
    color: black;
    font-weight: bold;
    background-color: lightblue;
    opacity: 0.9;
}
.instructions {
    float: left;    
    text-align: center;
    vertical-align: middle;
    padding-left:2%;
    padding-top: 2%;
    font-size: 24px;
    font-weight: bold;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}

.instructionDetails {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.card {
    margin-top: 1%;
    opacity: 0.9;
    color: black;
    background-color: lightblue;
}

.gameTotals {
    text-align: center;
    padding: 5px;
}

.gamesWon {
    color: darkgreen;
}

.gamesLost {
    color: darkred;
}

.targetScoreCard {
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.currentScoreCard {
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.pickACrystal {
    text-align: center;    
    background-color: lightblue;
    opacity: 0.9;
    color: black;
    font-weight: bold;
    margin-top: 1%;
}

.crystalRow {
    margin-top: 1%;
    margin-left: 2%;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-content: center;
    background-color: lightblue;

}